<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menu</title>
    <link th:href="ExternalCSS.css" rel="stylesheet">
</head>
<body>
	<div class = "contentContainer">
        <div class="content">
        	<h1>product types</h1>
			<table>
				<tr>
					<th>Id</th>
					<th>Type</th>
					<th>Size</th>
					<th>Price</th>
					<th>Sales Price</th>
					<th></th>
					<th></th>
				</tr>
				<tbody>
					<tr th:each = "item, iStat : ${items}">
						<td th:text = "${item.id}"></td>
						<td th:text = "${item.type}"></td>
						<td th:text = "${item.size}"></td>
						<td th:text = "${item.price}"></td>
						<td th:text = "${item.salePrice}"></td>
						<td>
							<a>update</a>
							<a>delete</a>
						</td>
					</tr>
				</tbody>
			</table>
			<a th:href="@{/menu}"><button>back to menu</button></a>
		</div>
		</div>
</body>
</html>