<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menu</title>
    <link rel="stylesheet" href="ExternalCSS.css">
</head>
<body>
    <div class = "contentContainer">
        <div class="content">
            <h1>menu</h1>

            <br />

            <table>
                <tr>
                    <th><button>new purchase</button></th>
                    <th><button>new expense</button></th>
                    <th><button>new commission</button></th>
                </tr>
                <tr>
                    <th><button onclick="location.href = 'NewProduct.html';">new product</button></th>
                    <th><button>display product</button></th>
                    <th><button>modify product</button></th>
                </tr>
                <tr>
                    <th><button>add inventory</button></th>
                    <th><button>remove inventory</button></th>
                    <th><button>display inventory</button></th>
                </tr>
                <tr>
                    <th><button>display purchases</button></th>
                    <th><button>display expenses</button></th>
                    <th><button>display commissions</button></th>
                </tr>
            </table>
            <img src = "elsconhelper.png"/>
        </div>
    </div>
</body>
</html>