<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menu</title>
    <link th:href="ExternalCSS.css" rel="stylesheet">
</head>
<body>
	<div class = "contentContainer">
        <div class="content">
        	<h1>menu</h1>
        	<h2>new</h2>
        		<table>
        			<tr>
        				<th><button>product</button></th>
        				<th><button>product type</button></th>
        				<th><button>design</button></th>
        				<th><button>fandom</button></th>
        			</tr>
        		</table>
        	<h2>manage</h2>
        		<table>
        			<tr>
        				<th><button>products</button></th>
        				<th><button>product types</button></th>
        				<th><button>designs</button></th>
        				<th><button>fandoms</button></th>
        			</tr>
        		</table>
        	<img src = "images/elsconhelper.png"/>
        </div>
    </div>
</body>
</html>