<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menu</title>
    <link th:href="ExternalCSS.css" rel="stylesheet">
</head>
<style>
    h1 {color: lavender;}
</style>
<body>
    <div class = "contentContainer">
        <div class="content">
            <h1>new product</h1>
            <form>
                <select 
                    id = "selectType"
                    onchange = "updateSize()"
                ></select>
                <select id = "selectFandom">
                </select>
                <select id = "selectSize">
                </select>
                <input 
                    type = "text"
                    id = "name"
                    name = "name"
                    placeholder = "product name"
                    />
                <button>submit</button>
            </form>
            <br />
            <button style = "background-color: mediumpurple;" onclick="location.href = 'menu.html';">back to menu</button>
        </div>
    </div>
    <!-- <script src = "newProduct.js"></script> -->
</body>
</html>